@font-face {
  font-family: 'rotissemisansregular';
  src: url('../font/homogenic-webfont.eot');
  src: url('../font/homogenic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/homogenic-webfont.woff') format('woff'), url('../font/homogenic-webfont.ttf') format('truetype'), url('../font/homogenic-webfont.svg#rotissemisansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#typo .logo {
  font-family: 'rotissemisansregular';
}
#typo .read {
  font-family: Arial, sans-serif;
}
/** Common Mixins for Common effects */
.notextselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.stupidBlock {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  background: url("../img/cream_dust.png") #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
}
html a:link, html a:visited {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}
html a:hover, html a:active {
  color: #999;
}
img {
  border: none;
}
#content {
  margin-top: 170px;
  width: 100%;
  float: left;
  min-height: 300px;
  border-bottom: 1px solid rgba(210, 210, 210, 1);
  font-size:12px;
}
#content h2 {
  font-size: 17px;
  margin:0;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}

#content #feed {
  margin: 0px 0px 5px 0px;
  padding: 0;
  width: 100%;
  list-style: none;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#content #feed li {
  width: 50%;
  float: left;
  margin: 0;
  padding: 15px 0px 15px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(210, 210, 210, 1);
}

#content #feed li:first-child, #content #feed li:nth-child(2){
  padding-top:0;
}

#content #feed > li header {
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  width: 100%;
  margin-bottom: 4px;
}

#content #feed > li time {
  width: 100%;
  display: block;
  font-size: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#content #feed > li img {
  float: left;
  margin: 8px 10px 10px 0px;
  max-width: 100%;
}
#content #feed > li p {
  margin: 8px 0px 3px 0px;
}

.details .half {
  width: 42%;
  float: left;
  list-style: none;
  margin: 15px 0 30px 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.details .half li img {
  width: 100%;
}

.details .half.left {
  padding-right: 20px;
  border-right: 1px solid rgba(210, 210, 210, 1);
}

.details .half.right {
  padding-left: 20px;
  border-left: 1px solid rgba(210, 210, 210, 1);
  margin-left: -1px;
}

.details .half.right p{
  margin-top:0;
  padding-top:0;
}

.details #site-menu {
  width: 123px;
  float: left;
  margin: -21px 0px 15px 41px;
  padding: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.details #site-menu h2 {
  padding-left: 5px;
}
.details #site-menu img {
  width: 100%;
  float: left;
  display:block;
}

.details #site-menu a {
  float:left;
}

.details #site-menu > li {
  width: 100%;
  margin: 0;
  padding: 5px 0px 5px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

.details #site-menu h4 {
  float:left;
  padding: 0px;
  margin: 5px 0px 5px 0px;
  font-size: 12px;
  font-weight:normal;
}

#wrapper {
  width: 1024px;
  margin: 0px auto;
}
#header {
  float: left;
  width: 100%;
  height: 155px;
  border-bottom: 1px solid rgba(210, 210, 210, 1);
  position: fixed;
  z-index: 99;
  margin: 0px auto;
  width: 1024px;
  background: url("../img/cream_dust.png") #ffffff;
}
#header a {
  text-decoration: none;
}
#header a:hover, #header a:active {
  color: #000;
}
#header h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  height: 100px;
  line-height: 100px;
  font-size: 48px;
  font-family: 'rotissemisansregular';
  cursor: default;
}
#navigation {
  float: left;
  width: 100%;
  background: #000000;
  color: #ffffff;
}
#navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#navigation ul li {
  width: 80px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  text-align: center;
  background: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#navigation ul li:hover, #navigation ul li:active {
  background: #FFF;
}
#navigation ul li a:link, #navigation ul li a:visited {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#navigation ul li:hover a:link, #navigation ul li:hover a:visited {
  color: #000;
}
#navigation ul li:hover a:hover, #navigation ul li:hover a:active {
  color: #000;
}

#footer {
  float: left;
  width: 100%;
  height: 50px;
  font-size: 0.6em;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  #wrapper, #header {
    width: 512px;
  }

  #content #site-menu {
    display: none;
  }
}