@font-face {
  font-family: 'rotissemisansregular';
  src: url('../font/homogenic-webfont.eot');
  src: url('../font/homogenic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/homogenic-webfont.woff') format('woff'), url('../font/homogenic-webfont.ttf') format('truetype'), url('../font/homogenic-webfont.svg#rotissemisansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#typo .logo {
  font-family: 'rotissemisansregular';
}
#typo .read {
  font-family: Arial, sans-serif;
}
/** Common Mixins for Common effects */
.notextselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.stupidBlock {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
}
html a, body a {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}
html a:hover, body a:hover {
  color: #999;
}
#content {
  width: 100%;
  float: left;
  min-height: 300px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}
#content h2 {
  font-size: 17px;
  margin-bottom: 0px;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}
#content .feed {
  display: block;
  margin: 5px 0px;
  padding: 0 15px;
  list-style: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#content.details .feed.half {
  width: 42%;
  float: left;
}
#content.projects .feed.half {
  width: 50%;
  float: left;
}
#content .feed.half.right {
  border-left: 1px solid rgba(150, 150, 150, 0.5);
}
#content .feed > li {
  width: 100%;
  margin: 0;
  padding: 10px 15px 10px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

#content .feed > li:last-child {
  border: none;
}

#content .feed > li:after {
  content: "";
  display: table;
  clear: both;
}
#content .feed > li header {
  display: inline-block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 2px;
}

#content #site-menu {
  width: 12%;
  float: left;
  margin: -35px 0px 15px 4%;
  padding: 0;
}
#content #site-menu h2 {
  padding-left: 5px;
}
#content #site-menu img {
  width: 100%;
  float: left;
}

#content #site-menu > li {
  width: 100%;
  margin: 0;
  padding: 5px 5px 5px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
#content #site-menu h4 {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  font-size: 12px;
  font-weight: bold;
}

#content .feed > li time {
  width: 100%;
  display: block;
  font-size: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
}
#content .feed > li img {
  float: left;
  margin: 8px 10px 10px 0px;
  max-width: 100%;
}
#content .feed > li p {
  margin: 8px 0px 3px 0px;
  font-size: 0.8em;
}
#wrapper {
  width: 1024px;
  margin: 0px auto;
}
#header {
  float: left;
  width: 100%;
  height: 165px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}
#header a {
  text-decoration: none;
}
#header a:hover {
  color: #000;
}
#header h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  font-family: 'rotissemisansregular';
  cursor: default;
}
#navigation {
  float: left;
  width: 100%;
  background: #000000;
  color: #ffffff;
}
#navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#navigation ul li {
  width: 80px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  text-align: center;
  background: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#navigation ul li:hover {
  background: #FFF;
}
#navigation ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#navigation ul li:hover a {
  color: #000;
}
#navigation ul li:hover a:hover {
  color: #000;
}

#footer {
  float: left;
  width: 100%;
  height: 50px;
  background: #FFF;
  font-size: 0.6em;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  #wrapper {
    width: 512px;
  }

  #content.projects .feed.half {
    width: 100%;
  }
  #content.projects .feed.half.right {
    border-left: none;
  }
  #content.projects .feed.half.left > li:last-child {
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  }

  #content.details .feed.half.left {
    margin-bottom: 0px;
  }
  #content.details .feed.half.right {
    margin-top: 0px;
  }
  #content.details .feed.half.left li {
    padding-bottom: 0px;
  }
  #content.details .feed.half.right li {
    padding-top: 0px;
  }

  #content.details .feed.half {
    width: 100%;
  }
  #content.details .feed.half.right {
    border-left: none;
  }
  #content.details .feed > li {
    padding-top: 10px;
  }
  #content #site-menu {
    display: none;
  }
}